$primary-color: #fff;
$bg: #000;

body {
  margin: 0;
  overflow: hidden;
}

.marker {
  width: 4rem;
  p {
    background-color: rgba(0, 0, 0, 0.75);
    color: $primary-color;
    border: 0.2rem solid $primary-color;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
  }
}